@import './scssContant.scss';

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
 
  @mixin reset-hover-effect {
    &:hover {
      color: #000000;
      transition: all 0.3s ease-in-out;
  
      &::after {
        content: "";
        width: 30%;
        height: 2px;
        background-color: rgb(190, 55, 55);
        display: block;
        position: absolute;
        transition: width 0.3s ease-in-out;
      }
    }
  }

  @mixin border-bottom($color) {
    &::after {
      content: "";
      width: 40px;
      height: 3px;
      background-color: $color;
      display: block;
      position: relative;
      bottom: -5px;
      transition: width 0.3s ease-in-out;
    }
  }
  .navbar-brand {
    position: relative; 
    font-size: 25px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    & :hover{
        color: #000000;
    }
    & a {
      text-decoration: none;
      color: #000000;
      font-weight: 700;
    }
  }
  
  .nav-link {
    position: relative;
    text-decoration: none;
    & a {
        @include reset-hover-effect;
      text-decoration: none;
      color: gray;
    }
  }

  @mixin list-style-type{
    list-style: none;
  }
  .navbar-collapse{
    z-index: 9999999999;
  }
  .sticky-whatsapp{
    position: fixed;
    bottom: 5%;
    right: 10px;
    font-size: 40px;
    z-index: 9999999999;
  }
  .sticky-whatsapp:hover{
    transform: scale(1.5);
    transition: all 0.5s ease-in-out;
  }

  .media-links ul li{
    @include list-style-type;
    padding-right: 10px;
  }
  .media-links ul{
    display: flex;
    padding: 10px 0px 10px;
  }
 .media-links ul li a svg {
    width: 30px;
    height: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5), 20px 20px 20px rgba(0, 0, 0, 0.4), 30px 30px 30px rgba(0, 0, 0, 0.1);
 }
 .media-links ul li a svg:hover{
  transform: scale(1.5);
  transition: all 0.3s ease-in-out;
 }
 .media-links ul li a {
     position: relative;
 }
 .media-links ul li a::after {
     content: '';
     position: absolute;
     left: 0;
     bottom: -20px;
     height: 2px;
     width: 0;
     background-color: white;
     transition: width 0.5s ease-in-out;
   }
   .media-links ul li a:hover::after {
     width: 100%;
   }

  .homeBanner{
    height: 100vh;
    padding: 10px;
    background: url('assets/shiny.svg') no-repeat center center;
    background-size: cover;
    overflow: hidden;
  }
  // .bannerImg{
  //   -webkit-box-reflect: below;
  // }
  .header{
    background: url('/public/assets/sunset.jpg') no-repeat center center;
    background-size: cover;
  }
  .imger_wraper{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: antiquewhite;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
  .designation_title{
    color: $base-color;
    font-size: $heiding-font-size;
  }
  .banner_wraper {
    width: 100%;
  }
  .about_wraper{
    padding: 60px 0px 20px;
  }
  .line-wraper{
    width: 30%;
  }
  .line::after{
    content: "";
    height: 2px;
    display: block;
    position: relative;
    margin-left: 5px;
    background-color: tomato;
  }
  .card_img{
    width: 300px;
    box-shadow: rgba(256, 256, 256, 0.12) 0px 2px 4px 0px, rgba(256, 256, 256, 0.32) 0px 2px 16px 0px;  
  }
  .card_body{
    display: flex;
    flex-direction: row !important;
    justify-items: center;
    align-items: center;
    background: transparent !important;
    box-shadow: rgba(256, 256, 256, 0.12) 0px 2px 4px 0px, rgba(256, 256, 256, 0.32) 0px 2px 16px 0px;  
  }
  .card_about{
    @include border-bottom(tomato);
  }
  .carousel-item {
    height: 500px; 
  }
  .carousel-item img {
      object-fit: cover; 
      height: 100%;
  }
  .carousel-control-next-icon, .carousel-control-prev-icon{
   visibility: hidden;
  }
  .download_wraper{
    background: url('/public/assets/darkbg.jpg') no-repeat center center;
    background-size: cover;
  }
  .left_container{
    align-items: center;
  }

  @media screen and (max-width: 768px) {
    .card_body{
      display: flex; 
      flex-direction: column !important;
      justify-items: center;
      align-items: center;
    }
    .carousel-item {
      height: 300px; 
    }
    
  }

  @media screen and (max-width: 992px) {
    .navbar_main{
      position: relative;
    }
    .navbar-collapse{
      position: absolute;
      background-color: #686868;
      top: 48px;
      right: 0px;
      width: 100px;
      color: white;
      padding-left: 10px;
      border-bottom-left-radius: 5px;
    }
    .nav-link a{
      color: #efefef;
      transition: all 0.3s ease-in-out;
    }
   
  }

  @media screen and (min-width: 993px) {
    .bannerImg{
      width:500px;
    }
  }
  