
$base-color: #ffff;
$heiding-font-size: 20px;
$section-bg-color: #141824;
$card-bg-color: rgb(40, 45, 50);
$text-shadow : 10px 10px 10px rgba(0,0,0,.5), 20px 20px 20px rgba(0,0,0,.4), 30px 30px 30px rgba(0,0,0,.1);
$zindex : 1;
